{:kotoba.app/latest "k51qzi5uqu5divtf94y04zn2y3zhnbq8ok2ih7z2n7u1wmzw2du4m0qjrmzv24", :kotoba.app/site-cid "bafybeig55vi7d43lphbd5llu2hsmcb2dkwvfyubkbvgal4emqlmb74dgoi", :kotoba.app/id "cloud.itonami.app-air-dcs", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5divtf94y04zn2y3zhnbq8ok2ih7z2n7u1wmzw2du4m0qjrmzv24", :published {:own-nodes {:cid "bafybeig55vi7d43lphbd5llu2hsmcb2dkwvfyubkbvgal4emqlmb74dgoi", :ipns "k51qzi5uqu5divtf94y04zn2y3zhnbq8ok2ih7z2n7u1wmzw2du4m0qjrmzv24", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:25:39Z"}}}
